*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}
html{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
    font-size: 18px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    background-color: var(--Dark-cyan);
    background-image: url("./img/bg-pattern-bottom.svg"), url("./img/bg-pattern-top.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom -48vh right 148%, top -50vh left 146%;
}
main{
    width: 20rem;
    text-align: center;
    background-color: white;
    border-radius: .5rem;
    overflow: hidden;
}
.top-card{
    height: 8rem;
    background-image: url("./img/bg-pattern-card.svg");
    position: relative;

}
.profile-pic{
    width: 30%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 5px solid white;
}
.bottom-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
.profile-info{
    display: flex;
}
.stats-container{
    line-height: 1rem;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 1rem;
    margin-right: .5rem;
}
p, small{
    padding-bottom: .5rem;
    color: var(--Dark-grayish-blue);
}
hr{
    margin-top: .5rem;
    width: 100%;
    opacity: .3;
}
h2{
    font-size: 1rem;
}
.stat-name{
    font-size: .6rem;
    letter-spacing: 2px;
}
@media (min-width: 600px){
    body{
        background-position: bottom -100vh right -40vh, top -80vh left -21vw;
        background-size: 70%, 70%;
    }
}